body {background-color: black;}
body {
    font-family: Arial;
    width: 80%;
    margin: 150px;
}

header, footer {
    text-align: center;
    background-color: black;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 30px;
}

nav ul {
    text-align: center;
    font-weight: bold;
}

nav a {
    margin-right: 100px;
    text-align: center;
}

em {
    font-weight: 700;
}

nav li {
    list-style-type: circle;
} 

nav a:hover {
    background-color: white;
}

