body {background-color: black;}
body {
    font-family: Arial;
    width: 80%;
    margin: 150px;
}

body {
width: 100%;
margin: auto;
}

header, footer {
    text-align: center;
    background-color: black;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 30px;
}

nav ul {
    text-align: center;
    font-weight: bold;
}

nav a {
    margin-right: 100px;
    text-align: center;
}

em {
    font-weight: 700;
}

nav li {
    list-style-type: circle;
} 

nav a:hover {
    background-color: white;
}

@media only screen and (min-width: 768px) {
    .col {
        width: 32%;
        height: auto;
    }
}

@media only screen and (min-width: 1600px) {
    .col {
        width: 19%;
        height: 50vh;
    }
}

@media only screen and (max-width: 480px)
{
    body{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    #main{
        columns: auto;
    }
    footer{
        position: relative;
        bottom: 0;
        left: 10%
    }
}

@media (min-width: 450px) and (max-width: 750px)
{
    body{
        width: 80%;
    }

    nav{
        display: inline-block;
    }

    #main{
        columns: 2/3 auto;
    }

    footer{
        position: relative;
        bottom: 0;
        left: 10%
    }

    #table1 {
        border-collapse: collapse;
        text-transform: uppercase;
      }
    }

input[type=checkbox], input[type=radio], input[type=file]{
    width:auto;
}

label, input, select {
    display: inline-block;
    width: 150px;
    text-align: left;
    margin: 2px;
}